body{
    background-color: bisque;
}
h2 {
    color:darkmagenta
}

button{
border-radius:5px;
width: 200px;
background-color: coral;
}

#id1{
    color: lightseagreen;
}
#id2{
    color: lightseagreen
} 



}

    
 
    


    

